<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-white font-sans leading-normal tracking-normal text-gray-900">
    <!-- Header with Go Back Button -->
    <header class="bg-gray-800 p-4">
      <div class="max-w-5xl mx-auto flex justify-between items-center">
        <h1 class="text-white text-3xl font-bold">Disclaimer</h1>
        <a
          href="/"
          class="bg-gray-100 text-gray-800 px-3 py-1 rounded-full hover:bg-gray-200 transition-colors"
          >Go Back</a
        >
      </div>
    </header>
    <!-- Main Content -->
    <main class="max-w-5xl mx-auto p-4">
      <section class="mb-12">
        <h2 class="text-2xl font-bold mb-4">Contact</h2>
        <p class="mb-4">
          This website is owned and operated by Amadeus Magrabi.
        </p>
        <p class="mb-4">
          You can contact me
          <a
            href="https://amadeusmagrabi.com"
            class="text-gray-800 underline hover:text-gray-600"
            target="_blank"
            rel="noopener noreferrer"
            >here</a
          >.
        </p>

        <p class="mb-4">
          You can also send me feedback via the form on the
          <a href="/support" class="text-gray-800 underline hover:text-gray-600"
            >support page</a
          >
          or
          <a
            href="https://buymeacoffee.com/amadeusmagrabi"
            class="text-gray-800 underline hover:text-gray-600"
            target="_blank"
            rel="noopener noreferrer"
            >buy me a coffee</a
          >
          to support the platform.
        </p>
      </section>
    </main>
  </body>
</html>
