<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Support - ArguMentor</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-white font-sans leading-normal tracking-normal text-gray-900">
    <!-- Header with Go Back Button -->
    <header class="bg-gray-800 p-4">
      <div class="max-w-5xl mx-auto flex justify-between items-center">
        <h1 class="text-white text-3xl font-bold">Support ArguMentor</h1>
        <a
          href="/"
          class="bg-gray-100 text-gray-800 px-3 py-1 rounded-full hover:bg-gray-200 transition-colors"
        >
          Go Back
        </a>
      </div>
    </header>

    <!-- Main Content -->
    <main class="max-w-5xl mx-auto p-4">
      <section class="mb-8">
        <h2 class="text-2xl font-bold mb-4">Support This Project</h2>
        <p class="mb-4">
          Thank you for your interest in supporting me! You can send me feedback
          or ideas for improvements via one of my
          <a
            href="http://amadeusmagrabi.com"
            target="_blank"
            rel="noopener noreferrer"
            ><u>socials</u></a
          >, or
          <a
            href="https://buymeacoffee.com/amadeusmagrabi"
            target="_blank"
            rel="noopener noreferrer"
            ><u>buy me a coffee</u></a
          >
          to keep the servers alive.
        </p>
      </section>
      <!-- Bottom Go Back Button -->
      <div class="text-center my-4">
        <a
          href="/"
          class="bg-gray-100 text-gray-800 px-4 py-2 rounded-full hover:bg-gray-200 transition-colors"
        >
          Go Back
        </a>
      </div>
    </main>
  </body>
</html>
